 body{
    font-family: "Lato", sans-serif
}
    h1{
        font-family: "Lato", sans-serif
    }
    h2{
        font-family: "Lato", sans-serif
    }
    h3{
        font-family: "Lato", sans-serif
    }
    h4{
        font-family: "Lato", sans-serif
    }
    h5{
        font-family: "Lato", sans-serif
    }
    h6 {
        font-family: "Lato", sans-serif
    }
    button {
        font-family: "Montserrat", sans-serif 
    }
    .fa-cloud {
        font-size: 200px;
        color: red;
        padding: 64px
    }
    .header{
        background-color: red;
        color: #fff;
        text-align: center;
        padding:128px 16px
    }
    .footer{
        background-color: black;
        color: #fff;
        padding: 32px;
        text-align: center;
    }
    .weather{
        background-color: #c8d6e5;
        padding: 64px;
    }
    .about{
        padding: 64px;
    }